<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Playground!</title>
        
    </head>
    <body>
        <h1 style="font-size: 1.5rem; text-align: center; margin-top: 50px;">Welcome</h1>
        <div style="margin-left: 150px;">
            {% for x in range(num) %}

        <div style=" height: 300px;
        width: 300px;
        background-color: {{color}} ;
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 50px">
        </div>
        {% endfor %}

        </div>
    </body>
</html>