<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap-reboot.min.css">
    <title>{{ trip.destination }}</title>
</head>
<body>
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center">
            <h3>Hello, {{ user.firstname }}</h3>
            <div class="d-flex">
                <a href="/dashboard" class="btn btn-primary me-3">Dashboard</a>
                <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="main">
            <h1>{{ trip.destination }}</h1>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-striped">
                        <tr>
                            <th style="width: 30%;">Start Date:</th>
                            <td>{{ trip.start_date }}</td>
                        </tr>
                        <tr>
                            <th>End Date:</th>
                            <td>{{ trip.end_date }}</td>
                        </tr>
                        <tr>
                            <th>Created On:</th>
                            <td>{{ trip.created_at }}</td>
                        </tr>
                        <tr>
                            <th>Last Updated:</th>
                            <td>{{ trip.updated_at }}</td>
                        </tr>
                        <tr>
                            <th>Organized By:</th>
                            <td>{{ trip.organizer.firstname }} {{ trip.organizer.lastname }}</td>
                        </tr>
                        <tr>
                            <th>Itinerary:</th>
                            <td>{{ trip.itinerary }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <h5 class="card-title">Trip Details</h5>
                        <ul class="list-group list-group-flush">
                            {% for user in trip.travelers.all %}
                            <li class="list-group-item">{{ user.firstname }} {{ user.lastname }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <h5>Transfers on this Trip:</h5>
                <ul class="list-group">
                    {% for user in trip.travelers.all %}
                    <li class="list-group-item">{{ user.firstname }} {{ user.lastname }}</li>
                    {% endfor %}
                </ul>
                <a href="/mytrips" class="btn btn-link mt-3">Go to my trips > ></a>
            </div>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
