<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.rtl.min.css" integrity="sha384-dc2NSrAXbAkjrdm9IYrX10fQq9SDG6Vjz7nQVKdKcJl3pC+k37e7qJR5MVSCS+wR" crossorigin="anonymous">
    <title>Login and Registration</title>
</head>
<body class="bg-primary bg-opacity-25 ">
    <div class="container d-flex justify-content-between bg-light p-5 my-4 " >
        <form class="col-md-4" action="/registration" method="post">
            {% csrf_token %}
            <h3 class="my-4 " >Registration</h3>
            <div class="row g-3 ">
                <div class="col-md-6">
                    <label class="form-label">First name</label>
                    <input name="firstname" type="text" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Last name</label>
                    <input name="lastname" type="text" class="form-control" required>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Email:</label>
                <input name="email" type="email" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Confirm password</label>
                <input type="password" name="confirmPW" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary ">Register</button>
        </form>
        <div class="col-md-4">
            {% for m in messages %}
            <small class="text-danger">
                <li>{{m}}</li></small>
            {% endfor %} 
        </div>

        <form action="/login" method="post" class=" col-md-4 ">
            {% csrf_token %}
            <h3 class="my-4 " >Log In</h3>
            <div class="mb-3">
                <label class="form-label">Email:</label>
                <input name="email" type="email" class="form-control" >
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="password" class="form-control" >
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>

    </div>
</body>
</html>