h1 {
    text-align: center;
    font-size: 2.5rem;
    color: rgb(255, 43, 85);
}

body{
    background: whitesmoke;
}

ul, li, p {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

img{
    width: 850px;
    height: 750px;
    padding-left: 300px;
}

a {
    font-size: 1.5rem;
    color: red;
}