<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration</title>
</head>
<body>
    <div class="container">
        <div class="col-1">
            <form class="Register" action="/registration" method="post">
                {% csrf_token %}
                <h1>Registration</h1>
                <div class="fname">
                    <label for="firstname">First Name:</label>
                    <input type="text" name="firstname" required>
                    {% if errors.firstname %}
                    <p class="error">{{ errors.firstname }}</p>
                    {% endif %}
                </div>

                <div class="lname">
                    <label for="lastname">Last Name:</label>
                    <input type="text" name="lastname" required>
                    {% if errors.lastname %}
                    <p class="error">{{ errors.lastname }}</p>
                    {% endif %}
                </div>

                <div class="email">
                    <label for="email">Email:</label>
                    <input type="email" name="email" required>
                    {% if errors.email %}
                    <p class="error">{{ errors.email }}</p>
                    {% endif %}
                </div>

                <div class="password">
                    <label for="password">Password:</label>
                    <input type="password" name="password" required>
                    {% if errors.password %}
                    <p class="error">{{ errors.password }}</p>
                    {% endif %}
                </div>

                <div class="confirmPassword">
                    <label for="confirmPW">Confirm Password:</label>
                    <input type="password" name="confirmPW" required>
                    {% if errors.confirmPW %}
                    <p class="error">{{ errors.confirmPW }}</p>
                    {% endif %}
                </div>

                <div>
                    <button type="submit" class="button">Register</button>
                </div>
            </form>
        </div>
        <div class="col-2">
            <form class="Login" action="/login" method="post">
                {% csrf_token %}
                <h1>Login</h1>
                <div class="email">
                    <label for="loginEmail">Email:</label>
                    <input type="email" name="loginEmail" required>
                    {% if login_errors.email %}
                    <p class="error">{{ login_errors.email }}</p>
                    {% endif %}
                </div>

                <div class="password">
                    <label for="loginPassword">Password:</label>
                    <input type="password" name="loginPassword" required>
                    {% if login_errors.password %}
                    <p class="error">{{ login_errors.password }}</p>
                    {% endif %}
                </div>

                <div>
                    <button type="submit" class="button">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
